<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Hello Demo</display-name>

	<!-- Jetty -->
	<context-param>
		<param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
		<param-value>false</param-value>
	</context-param>


	<servlet>
		<servlet-name>RP Hello Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>br.pucrio.tecgraf.demo.config.ApplicationConfig</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RP Hello Web Application</servlet-name>
		<url-pattern>/webapi/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>br.pucrio.tecgraf.demo.resources.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>br.pucrio.tecgraf.demo.resources.LoginFilter</filter-class>
		<init-param>
			<param-name>authorizationServerHost</param-name>
			<param-value>https://gluuserver</param-value>
		</init-param>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>@!57E7.F422.1BEC.8661!0001!2917.B555!0008!9081.2658.C5BD.4EF1</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>cliente_Hello_AuthCode</param-value>
		</init-param>
		<init-param>
			<param-name>authorizeParameters</param-name>
			<param-value>scope=openid+profile+email&amp;response_type=code</param-value>
		</init-param>
		<init-param>
			<param-name>redirectUri</param-name>
			<param-value>https://ariramba.tecgraf.puc-rio.br:8456/hello_authorization_code</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
